<section class="post">
  <h2>{{title}}</h2>
  <form action="new" method="post">
    <fieldset>
      <label for="author">
        Name:
        <input
          required
          name="author"
          type="text"
          minlenght="3"
          {{#if message.user}}
            value={{message.user}}
          {{else}}
            value=""
          {{/if}}
          maxlength="15"
          placeholder="It doesn't have to be a real one"
        />
      </label>
      <label for="message">
        Message:
        <textarea
          required
          name="message"
          id="message"
          minlength="25"
          maxlength="240"
          placeholder="What's on your mind?"
        >{{or message.text ""}}</textarea>
      </label>
    </fieldset>
    <button type="submit" class="brown-button">Submit</button>
    {{#if errors}}
      {{#each errors}}
        <p class="error">{{this.msg}}</p>
      {{/each}}
    {{/if}}
  </form>
</section>
